//   <footer>
      Follow me on <a href="https://www.instagram.com/iscodisco2223/">IG</a> <span class="print">( <a href="javascript:window.print()">Print PDF</a> )</span>
    </footer>//

<footer class="page-footer">
        <p class="footer-line">Follow me on IG <a href="https://www.instagram.com/iscodisco2223/">@iscodisco2223</a>. Fork me on <a href="https://github.com/jglovier/resume-template">GitHub</a>.</p> <span class="print">( <a href="javascript:window.print()">Print PDF</a> )</span>
      </footer>
