footer {
    color: #81A1C1;
    font-size: 1rem;
    min-height: 3rem;
    line-height: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem

a {
    font-weight: 600;
    color: #4C566A
}

a:hover {
    color: $link-color;
}

}
